<html>
  <head>
    <title>Ola blog</title>
  </head>
  <body>
    <div>
      <h1>Iniciando o meu primeiro BLOG!</h1>
    </div>

    {% for post in posts %}
      <div>
        <p>published: {{ post.published_date}}</p>
        <h1><a href="">{{ post.title}}</a></h1>
        <p>{{ post.text|linebreaksbr}}</p>
      </div>
    {%endfor%}
  
    <div>
      <p>testando uma lista de links logo abaixo:</p>
      <ul>
        <li><a href="http://www.uol.com.br">Site do UOL</a></li>
        <li><a href="http://www.google.com.br">Site do Google</a></li>
        <li><a href="http://www.g1.globo.com.br">Site do G1</a></li>
      </ul>
    </div>

    {% for post in posts %}
      <p>{{post}}</p>
    {% endfor %}
  </body>
</html>
