<html>
  <head>
    <title>Ola blog</title>
  </head>
  <body>
    <div>
      <h1>Iniciando o meu primeiro BLOG!</h1>
    </div>
    <p>Site aida está em desenvolvimento<p>

    <div>
      <h2>Título de um texto</h2>
    </div>

    <div>
      <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </p>
    </div>

    <div>
      <p>testando uma lista de links logo abaixo:</p>
      <ul>
        <li><a href="http://www.uol.com.br">Site do UOL</a></li>
        <li><a href="http://www.google.com.br">Site do Google</a></li>
        <li><a href="http://www.g1.globo.com.br">Site do G1</a></li>
      </ul>
    </div>
  </body>
</html>
